.dm-serif-display-regular {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-display-regular-italic {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: italic;
  }

.dela-gothic-one-regular {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  

a h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: rgba(180,208,89,100);
}

a h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: rgba(180,208,89,100);
}

nav {
    background-color: rgba(34,38,1,100) ;
    padding-left: 30pt;
    padding-right: 30pt;
}

.navbar-dark .navbar-toggler {
    color: rgba(180,208,89,100);
}

.welcomeCard {
    line-height: 2.0;
}

.welcomeCard button {
    background-color: rgba(34,38,1,100);
    color: rgba(180,208,89,100);
    border-radius: 20pt;
    padding-top: 10pt;
    padding-bottom: 10pt;
    padding-right: 20pt;
    padding-left: 20pt;
    border: none;
}

img {
    border-radius: 10px;
    object-fit: contain;
}

h1 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: black;
}

p {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}

.card-img-top{
    height: 300px;
    object-fit: cover;
}

.features {
    background-color: rgba(211,196,229,100);
}

.experience {
    background-color: rgba(211,196,229,100);
    background-size: 100vw 100vh;

}

i {
    display: inline-block;
    width: 30px;
    font-size: 24px;
}

li {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
    font-style: normal; 
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }